/*-----------SECTION SERVICIOS --------
--------------------------------------*/

.servicios {
    width: 100%;
    height: auto;
    background: var(--blanco);   
}
 body.dark .servicios {
    background: var(--negro-transparente);
 }

.servicios .proyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulos {
    font-size: 30px;
    font-weight: 400;
    color: var(--rosa);    
}

.servicios .proyectos .tarjetas {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    justify-content: center;
    margin: auto;
}


.servicios .proyectos .tarjetas .card {
    height: 430px;
    max-width: 330px;
    background: var(--blanco);
    overflow: hidden;
    margin: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 1s;
}

body.dark .servicios .proyectos .tarjetas .card {
    background: var(--negro);
}

.servicios .proyectos .tarjetas .card:hover {
    cursor: pointer;
    transform: translateY(-15px);
    box-shadow: 0 12 16px rgba(0, 0, 0, 0.5);
    transition: 1s;
}

.img-servicios {
    width: 330px;
    height: 220px;
}

.title-servicios {
    color: var(--negro);
    font-weight: 400;
    padding: 5px;
    margin-top: 10px;
}

body.dark .title-servicios {
    color: var(--blanco);
}

.texto-servicios {
    padding: 0 1rem;
    line-height: 1.5;
    color: var(--gris);
    font-weight: 300;
    font-family: 'lato';
    margin-top: 15px;
}

body.dark .texto-servicios {
    color: var(--blanco);
    font-weight: 200;
}


@media (max-width:950px){
    .servicios {
        height: 100%;
    }

    .servicios .proyectos .tarjetas {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 5px 20px 20px 20px;
        height: 100%;
    }
}

